<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="admin, dashboard, ecommerce, panel" />
	<meta name="description" content="Carrot - Admin.">

	<title>Admin - Order List</title>

	<link rel="shortcut icon" th:href="@{/admin/img/favicon/favicon.ico}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
	<link th:href="@{/admin/css/vendor/materialdesignicons.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/remixicon.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/datatables.bootstrap5.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/responsive.datatables.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/daterangepicker.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/simplebar.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/apexcharts.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
	<link id="main-css" th:href="@{/admin/css/style.css}" rel="stylesheet">
</head>

<body>
<main class="wrapper sb-default">
	<!-- Loader -->
	<div id="cr-overlay">
		<div class="loader"></div>
	</div>
	<!-- Gọi fragment header -->
	<div th:replace="~{admin/header :: header}"></div>
	<div th:replace="~{admin/sidebar :: sidebar}"></div>

	<!-- main content -->
	<div class="cr-main-content">
		<div class="container-fluid">
			<div class="cr-page-title cr-page-title-2">
				<div class="cr-breadcrumb">
					<h5>Order List</h5>
					<ul>
						<li><a th:href="@{/admin/dashboard}">Carrot</a></li>
						<li>Order List</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="cr-card" id="ordertbl">
						<div class="cr-card-header">
							<h4 class="cr-card-title">Recent Orders</h4>
							<div class="header-tools">
								<a href="javascript:void(0)" class="m-r-10 cr-full-card"><i class="ri-fullscreen-line"></i></a>
								<div class="cr-date-range dots">
									<span></span>
								</div>
							</div>
						</div>
						<div class="cr-card-content card-default">
							<div class="order-table">
								<div class="table-responsive tbl-1200">
									<table id="recent_order" class="table">
										<thead>
										<tr>
											<th>Order ID</th>
											<th>Customer</th>
											<th>Shipping Address</th>
											<th>Phone Number</th>
											<th>Note</th>
											<th>Total Price</th>
											<th>Payment Status</th>
											<th>Order Status</th>
											<th>Actions</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="order : ${orders}">
											<td th:text="${order.orderId}"></td>
											<td th:text="${order.user.name}"></td>
											<td th:text="${order.address}"></td>
											<td th:text="${order.phone}"></td>
											<td th:text="${order.note}"></td>
											<td>
												<!-- Nút chỉnh trạng thái thanh toán -->
												<div>
													<a th:href="@{'/admin/orders/update-status/' + ${order.orderId} + '/1'}" class="btn btn-success"
													   th:classappend="${order.status == 1} ? 'disabled'">Paid</a>
													<a th:href="@{'/admin/orders/update-status/' + ${order.orderId} + '/0'}" class="btn btn-danger"
													   th:classappend="${order.status == 0} ? 'disabled'">Unpaid</a>
												</div>
											</td>
											<td th:text="${order.amount}"></td>

											<td>
												<!-- Nút chỉnh trạng thái đơn hàng -->
												<div>
													<a th:href="@{'/admin/orders/update-order-status/' + ${order.orderId} + '/PENDING'}"
													   class="btn btn-warning"
													   th:classappend="${order.orderStatus.name() == 'PENDING'} ? 'disabled'">Pending</a>
													<a th:href="@{'/admin/orders/update-order-status/' + ${order.orderId} + '/CONFIRMED'}"
													   class="btn btn-primary"
													   th:classappend="${order.orderStatus.name() == 'CONFIRMED'} ? 'disabled'">Confirmed</a>
													<a th:href="@{'/admin/orders/update-order-status/' + ${order.orderId} + '/SHIPPING'}"
													   class="btn btn-info"
													   th:classappend="${order.orderStatus.name() == 'SHIPPING'} ? 'disabled'">Shipping</a>
													<a th:href="@{'/admin/orders/update-order-status/' + ${order.orderId} + '/DELIVERED'}"
													   class="btn btn-success"
													   th:classappend="${order.orderStatus.name() == 'DELIVERED'} ? 'disabled'">Delivered</a>
													<a th:href="@{'/admin/orders/update-order-status/' + ${order.orderId} + '/CANCELED'}"
													   class="btn btn-danger"
													   th:classappend="${order.orderStatus.name() == 'CANCELED'} ? 'disabled'">Canceled</a>
												</div>
											</td>
											<td>
												<a th:href="@{'/admin/orders/' + ${order.orderId}}" class="btn btn-info">Details</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container-fluid">
			<div class="copyright">
				<p><span id="copyright_year"></span> © Carrot, All rights Reserved.</p>
			</div>
		</div>
	</footer>
</main>
<script th:src="@{/admin/js/vendor/jquery-3.6.4.min.js}"></script>
<script th:src="@{/admin/js/vendor/simplebar.min.js}"></script>
<script th:src="@{/admin/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/vendor/apexcharts.min.js}"></script>
<script th:src="@{/admin/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/admin/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/admin/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/admin/js/vendor/jquery.datatables.min.js}"></script>
<script th:src="@{/admin/js/vendor/datatables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/js/vendor/datatables.responsive.min.js}"></script>
<script th:src="@{/admin/js/vendor/jquery.simple-calendar.js}"></script>
<script th:src="@{/admin/js/vendor/moment.min.js}"></script>
<script th:src="@{/admin/js/vendor/daterangepicker.js}"></script>
<script th:src="@{/admin/js/vendor/date-range.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>
<script th:src="@{/admin/js/data/ecommerce-chart-data.js}"></script>
</body>
</html>
