<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="cr-sidebar-overlay"></div>
    <div class="cr-sidebar" data-mode="light">
        <div class="cr-sb-logo">
            <a href="index.html" class="sb-full"><img src="assets/img/logo/full-logo.png" alt="logo"></a>
            <a href="index.html" class="sb-collapse"><img src="assets/img/logo/collapse-logo.png" alt="logo"></a>
        </div>
        <div class="cr-sb-wrapper">
            <div class="cr-sb-content">
                <ul class="cr-sb-list">
                    <li class="cr-sb-item sb-drop-item">
                        <a href="javascript:void(0)" class="cr-drop-toggle">
                            <i class="ri-dashboard-3-line"></i><span class="condense">Hệ Thống Quản Lý<i
                                class="drop-arrow ri-arrow-down-s-line"></i></span></a>
                        <ul class="cr-sb-drop condense">
                            <li><a href="index.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>ecommerce</a></li>
                            <li><a href="product-list.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Sản Phẩm</a></li>
                            <li><a href="order-list.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Đơn Hàng</a></li>
                            <li><a href="category.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Danh Mục</a></li>
                            <li><a href="customer-list.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Khách Hàng</a></li>

                            <li class="cr-sb-item sb-subdrop-item">
                                <a href="javascript:void(0)" class="cr-sub-drop-toggle"> </a>
                            </li>
                        </ul>
                    </li>
                    <li class="cr-sb-item-separator"></li>
                    <li class="cr-sb-item sb-drop-item">
                        <a href="javascript:void(0)" class="cr-drop-toggle">
                            <i class="ri-pages-line"></i><span class="condense">Thống Kê Doanh Số<i
                                class="drop-arrow ri-arrow-down-s-line"></i></span></a>
                        <ul class="cr-sb-drop condense">
                            <li><a href="Thongke-sp.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i></i>Thống Kê Sản Phẩm</a></li>
                            <li><a href="signup.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Thể Loại</a></li>
                            <li><a href="forgot.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Năm</a></li>
                            <li><a href="two-factor.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Tháng</a></li>
                            <li><a href="reset-password.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Quý</a></li>
                            <li><a href="remember.html" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Khách Hàng</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>