<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="cr-sidebar-overlay"></div>
    <div class="cr-sidebar" data-mode="light">
        <div class="cr-sb-logo">
            <a th:href="@{/admin/dashboard}" class="sb-full">
                <img th:src="@{/admin/img/logoff1a.png}" alt="logo">
            </a>
        </div>
        <div class="cr-sb-wrapper">
            <div class="cr-sb-content">
                <ul class="cr-sb-list">
                    <li class="cr-sb-item sb-drop-item">
                        <a href="javascript:void(0)" class="cr-drop-toggle">
                            <i class="ri-dashboard-3-line"></i><span class="condense">Hệ Thống Quản Lý<i
                                class="drop-arrow ri-arrow-down-s-line"></i></span></a>
                        <ul class="cr-sb-drop condense">
                            <li><a th:href="@{/admin/dashboard}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>ecommerce</a></li>
                            <li><a th:href="@{/admin/orders}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Đơn Hàng</a></li>
                            <li><a th:href="@{/admin/products}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Sản Phẩm</a></li>
                            <li><a th:href="@{/admin/reviews}" class="cr-page-link drop">
                                <i class="ri-checkbox-blank-circle-line"></i>Phản Hồi Đánh Giá</a></li>
                            <li><a th:href="@{/admin/vouchers}" class="cr-page-link drop">
                                <i class="ri-checkbox-blank-circle-line"></i>Quản Lý Voucher</a></li>
                            <li><a th:href="@{/admin/blogs}" class="cr-page-link drop">
                                <i class="ri-checkbox-blank-circle-line"></i>Quản Lý Blogs</a></li>
                            <li><a th:href="@{/admin/users}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Khách Hàng</a></li>
                            <li><a th:href="@{/admin/categories}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Danh Mục</a></li>
                            <li><a th:href="@{/admin/branches}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Quản Lý Chi Nhánh</a></li>
                        </ul>
                    </li>
                    <li class="cr-sb-item-separator"></li>
                    <li class="cr-sb-item sb-drop-item">
                        <a href="javascript:void(0)" class="cr-drop-toggle">
                            <i class="ri-pages-line"></i><span class="condense">Thống Kê Doanh Số<i
                                class="drop-arrow ri-arrow-down-s-line"></i></span></a>
                        <ul class="cr-sb-drop condense">
                            <li><a th:href="@{/admin/charts}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Biểu đồ</a></li>
                            <li><a th:href="@{/admin/report-product}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Sản Phẩm</a></li>
                            <li><a th:href="@{/admin/report-category}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Thể Loại</a></li>
                            <li><a th:href="@{/admin/report-year}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Năm</a></li>
                            <li><a th:href="@{/admin/report-month}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Tháng</a></li>
                            <li><a th:href="@{/admin/report-quarter}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Quý</a></li>
                            <li><a th:href="@{/admin/report-customer}" class="cr-page-link drop"><i
                                    class="ri-checkbox-blank-circle-line"></i>Thống Kê Theo Khách Hàng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
