<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin - Thống kê</title>

	<!-- App favicon -->
	<link rel="shortcut icon" th:href="@{/admin/img/favicon/favicon.ico}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

	<!-- Icon CSS -->
	<link th:href="@{/admin/css/vendor/materialdesignicons.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/remixicon.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/owl.carousel.min.css}" rel="stylesheet">

	<!-- Vendor CSS -->
	<link th:href="@{/admin/css/vendor/datatables.bootstrap5.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/responsive.datatables.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/vendor/bootstrap.min.css}" rel="stylesheet">

	<!-- Main CSS -->
	<link id="main-css" th:href="@{/admin/css/style.css}" rel="stylesheet">
</head>
<body>
<main class="wrapper sb-default">
	<div id="cr-overlay">
		<div class="loader"></div>
	</div>

	<div th:replace="~{admin/header :: header}"></div>
	<div th:replace="~{admin/sidebar :: sidebar}"></div>

	<!-- main content -->
	<div class="cr-main-content">
		<div class="container-fluid">
			<div class="cr-page-title cr-page-title-2">
				<div class="cr-breadcrumb">
					<h5>Quản lý Thống kê</h5>
					<ul>
						<li><a href="index.html">Carrot</a></li>
						<li>Quản lý Thống kê</li>
					</ul>
				</div>
			</div>

			<!-- DataTable -->
			<div class="row">
				<div class="col-md-12">
					<div class="cr-card" id="ordertbl">
						<div class="table-responsive">
							<table id="report_data_table" class="table">
								<thead>
								<tr>
									<th>#</th>
									<th th:text="${reportType}"></th>
									<th>Số lượng bán</th>
									<th>Doanh thu</th>
									<th>Giá trung bình</th>
									<th>Giá thấp nhất</th>
									<th>Giá cao nhất</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="row, stat : ${reportData}">
									<td th:text="${stat.index + 1}"></td>
									<td th:text="${row[0]}"></td>
									<td th:text="${row[1]}"></td>
									<td th:text="${#numbers.formatDecimal(row[2], 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></td>
									<td th:text="${#numbers.formatDecimal(row[3], 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></td>
									<td th:text="${#numbers.formatDecimal(row[4], 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></td>
									<td th:text="${#numbers.formatDecimal(row[5], 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<div class="copyright">
				<!-- Footer content -->
			</div>
		</div>
	</footer>
</main>

<!-- Vendor Scripts -->
<script th:src="@{/admin/js/vendor/jquery-3.6.4.min.js}"></script>
<script th:src="@{/admin/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/vendor/jquery.datatables.min.js}"></script>
<script th:src="@{/admin/js/vendor/datatables.bootstrap5.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>

<script>
	$(document).ready(function() {
		$('#report_data_table').DataTable({
			"pageLength": 5
		});
	});
</script>
</body>
</html>
