<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Broccoli - Confirm OTP</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" th:href="@{/web/img/favicon.png}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" th:href="@{/web/css/font-icons.css}">
    <!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/web/css/plugins.css}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/web/css/responsive.css}">
</head>

<body>

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <div class="ltn__utilize-overlay"></div>

    <!-- CONFIRM OTP AREA START -->
    <div class="ltn__login-area pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h1 class="section-title">Xác nhận OTP của bạn</h1>
                        <p>Vui lòng nhập OTP được gửi tới email của bạn để đặt lại mật khẩu</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="account-login-inner">
                        <form th:action="@{/confirmOtpForgotPassword}" method="post" class="ltn__form-box contact-form-box">
                            <input type="text" name="otp" placeholder="Enter OTP*" required>
                            <div class="btn-wrapper mt-0">
                                <button class="theme-btn-1 btn btn-block" type="submit">CONFIRM OTP</button>
                            </div>
                            <div th:if="${error}" class="alert alert-danger">
                                <p th:text="${error}"></p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONFIRM OTP AREA END -->

</div>
<!-- Body main wrapper end -->

<!-- All JS Plugins -->
<script th:src="@{/web/js/plugins.js}"></script>
<!-- Main JS -->
<script th:src="@{/web/js/main.js}"></script>

</body>
</html>
