<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Xác nhận đơn hàng</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    Email xác nhận đơn hàng từ Fresh Food.
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <tr>
                    <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#ddffd5">
                        <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                <tr>
                                    <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/foodandroid-d67e4.appspot.com/o/logo.png?alt=media&token=103694e1-071f-4d4b-9520-dbb80d2ab41f" width="220px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                            <tr>
                                <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                    <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">Chúc mừng! Đơn hàng của bạn đã được đặt thành công!</h2>
                                    <p style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px;"><em>Chúng tôi sẽ xử lý đơn hàng và giao đến bạn trong thời gian sớm nhất.</em></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 20px;">
                                    <p style="font-size: 20px; font-family: Open Sans, Helvetica, Arial, sans-serif; text-decoration: underline;">Thông tin khách hàng:</p>
                                    <p style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 24px;">
                                        <strong>Email:</strong> [[${user.email}]]<br>
                                        <strong>Số điện thoại:</strong> [[${order.phone}]]<br>
                                        <strong>Địa chỉ:</strong> [[${order.address}]]<br>
                                        <strong>Ghi chú:</strong> [[${order.note}]]<br>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 20px;">
                                    <p style="font-size: 20px; font-family: Open Sans, Helvetica, Arial, sans-serif; text-decoration: underline;">Thông tin đơn hàng:</p>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td width="10%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">#</td>
                                            <td width="40%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Tên sản phẩm</td>
                                            <td width="20%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Số lượng</td>
                                            <td width="30%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Thành tiền</td>
                                        </tr>
                                        <tr th:each="item, stat : ${items}">
                                            <td width="10%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px;" th:text="${stat.index + 1}"></td>
                                            <td width="40%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px;" th:text="${item.name}"></td>
                                            <td width="20%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px;" th:text="${item.quantity}"></td>
                                            <td width="30%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px;" th:text="${item.price}"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 20px;">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td width="70%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">Tổng tiền:</td>
                                            <td width="30%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee; color: red;" th:text="${totalPrice}"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <p style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; color: #49a010;">Cảm ơn bạn đã tin tưởng Fresh Food!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
