<div th:fragment="footer">
    <!-- FEATURE AREA START -->
    <div class="ltn__feature-area before-bg-bottom-2-- mb--30--- plr--5 mb-120">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img th:src="@{/web/img/icons/icon-img/11.png}" alt="Sản phẩm chọn lọc"/>
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4 style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Sản phẩm chọn lọc</h4>
                                        <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Cam kết cung cấp thực phẩm sạch, được tuyển chọn kỹ lưỡng từ nguồn gốc đáng tin cậy.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img th:src="@{/web/img/icons/icon-img/12.png}" alt="Chất lượng thủ công"/>
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4 style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Quy trình chất lượng</h4>
                                        <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Sản phẩm được sản xuất với tiêu chuẩn cao, đảm bảo an toàn và tươi ngon.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img th:src="@{/web/img/icons/icon-img/13.png}" alt="Thực phẩm tự nhiên"/>
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4 style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Thực phẩm tự nhiên</h4>
                                        <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">100% nguyên liệu hữu cơ, không hóa chất, bảo vệ sức khỏe gia đình bạn.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img th:src="@{/web/img/icons/icon-img/14.png}" alt="Giao hàng miễn phí"/>
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4 style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Giao hàng nhanh chóng</h4>
                                        <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Giao thực phẩm tươi sạch đến tận nhà, nhanh chóng và tiện lợi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area">
        <div class="footer-top-area section-bg-1 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img th:src="@{/web/img/logoff2.png}" alt="Logo" width="300" height="100" style="margin-left: 30px;">
                                </div>
                            </div>
                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">"Thực phẩm sạch – Sống khỏe mạnh mỗi ngày!"</p>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">1 Võ Văn Ngân, Thủ Đức</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;"><a href="tel:+0123-456789">+0123-456789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;"><a href="mailto:example@example.com">example@example.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="https://www.facebook.com/dhspkt.hcmute" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.tiktok.com/@dhspkt.hcmute" title="TikTok"><i class="fab fa-tiktok"></i></a></li>
                                    <li><a href="https://www.youtube.com/@UTETVChannel" title="YouTube"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://hcmute.edu.vn" title="Website"><i class="fab fa-internet-explorer"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Cửa hàng</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/about" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Giới thiệu</a></li>
                                    <li><a href="/news" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Blog</a></li>
                                    <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Tất cả sản phẩm</a></li>
                                    <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Bản đồ chi nhánh</a></li>
                                    <li><a href="/contact" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Dịch vụ</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/wishlist" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Danh sách yêu thích</a></li>
                                    <li><a href="/login" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Đăng nhập</a></li>
                                    <li><a href="/account" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Tài khoản của tôi</a></li>
                                    <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Ưu đãi khuyến mãi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Chăm sóc khách hàng</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Câu hỏi thường gặp</a></li>
                                    <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Điều khoản & điều kiện</a></li>
                                    <li><a href="/contact" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                        <div class="footer-widget footer-newsletter-widget">
                            <h4 class="footer-title" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Bản tin</h4>
                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Đăng ký nhận bản tin hàng tuần để cập nhật qua email.</p>
                            <div class="footer-newsletter">
                                <div id="mc_embed_signup">
                                    <form action="https://gmail.us5.list-manage.com/subscribe/post?u=dde0a42ff09e8d43cad40dc82&id=72d274d15d"
                                          method="post" id="mc-embedded-subscribe-form"
                                          name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div class="mc-field-group">
                                                <input type="email" value="" name="EMAIL" class="required email"
                                                       id="mce-EMAIL" placeholder="Email*"
                                                       style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response"
                                                     style="display:none; font-family: 'Roboto', Arial, sans-serif; font-weight: 500;"></div>
                                                <div class="response" id="mce-success-response"
                                                     style="display:none; font-family: 'Roboto', Arial, sans-serif; font-weight: 500;"></div>
                                            </div>
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                                    type="text" name="b_dde0a42ff09e8d43cad40dc82_72d274d15d"
                                                    tabindex="-1" value=""></div>
                                            <div class="clear">
                                                <div class="btn-wrapper">
                                                    <button class="theme-btn-1 btn" type="submit" value="Đăng ký"
                                                            name="subscribe" id="mc-embedded-subscribe"
                                                            style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">
                                                        <i class="fas fa-location-arrow"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5 class="mt-30" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Phương thức thanh toán</h5>
                            <img th:src="@{/web/img/icons/zalopay.png}" alt="ZaloPay" width="75" height="75">
                            <img th:src="@{/web/img/icons/vnpay.png}" alt="VNPay" width="75" height="75">
                            <img th:src="@{/web/img/icons/visamastercard.png}" alt="Visa/Mastercard" width="225" height="75">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-2 ltn__border-top-2--- plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Bản quyền @ Cửa hàng thực phẩm tươi sống <span class="current-year"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-end">
                            <ul>
                                <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Điều khoản & điều kiện</a></li>
                                <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Khiếu nại</a></li>
                                <li><a href="/shop" style="font-family: 'Roboto', Arial, sans-serif; font-weight: 500;">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
</div>