<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Trang web của bạn</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body, * {
            font-family: 'Roboto', Arial, sans-serif !important;
        }
    </style>
</head>

<body>
<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header class="ltn__header-area ltn__header-5 ltn__header-transparent-- gradient-color-4---">

        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area">
            <div class="container">
            </div>
        </div>
        <!-- ltn__header-top-area end -->

        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white sticky-active-into-mobile ltn__logo-right-menu-option plr--9---">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="locations.html"><i class="icon-placeholder"></i> 1 Vo Van Ngan, Thu Duc</a>
                                </li>
                                <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i
                                        class="icon-mail"></i> info@webmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-right text-end">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li>
                                        <!-- ltn__language-menu -->
                                        <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                            <ul>
                                                <li><a href="#" class="dropdown-toggle"><span
                                                        class="active-currency"></span></a>

                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a th:href="@{/index}">
                                    <img th:src="@{/web/img/logoff1.png}" alt="Logo" width="300" height="100">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col header-menu-column menu-color-white---">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class="menu-icon"><a th:href="@{/index}">Trang chủ</a>
                                            <ul class="sub-menu menu-pages-img-show ltn__sub-menu-col-2---">
                                                <li>
                                                    <a th:href="@{/index}">Trang chủ</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a th:href="@{/about}">Về chúng tôi</a>
                                            <ul>
                                                <li><a th:href="@{/about}">Cam kết</a></li>
                                                <li><a th:href="@{/contact}">Liên hệ</a></li>
                                                <li><a th:href="@{/shop}">Dịch vụ</a></li>
                                                <li><a th:href="@{/shop}">Các chi nhánh</a></li>
                                                <li><a th:href="@{/shop}">Đội ngũ</a></li>
                                                <li><a th:href="@{/shop}">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">Cửa hàng</a>
                                            <ul>
                                                <li><a th:href="@{/shop}">Các sản phẩm</a></li>
                                                <li sec:authorize="isAuthenticated()">
                                                    <a th:href="@{/cart/checkout}">Thanh toán</a>
                                                </li>
                                                <li sec:authorize="isAuthenticated()">
                                                    <a th:href="@{/wishlist}">Yêu thích</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a th:href="@{/news}">Bài viết</a></li>
                                        <li class="special-link"><a th:href="@{/shop}">GET A QUOTE</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="ltn__header-options ltn__header-options-2 mb-sm-20">
                        <!-- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1">
                                <div class="search-icon">
                                    <i class="icon-search for-search-show"></i>
                                    <i class="icon-cancel for-search-close"></i>
                                </div>
                            </div>
                            <div class="header-search-1-form">
                                <form th:action="@{/shop}" method="get">
                                    <input type="text" name="keyword" th:value="${keyword}"
                                           placeholder="Search here..."/>
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <!-- user-menu -->
                        <div class="ltn__drop-menu user-menu">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-user"></i></a>
                                    <ul>
                                        <!-- Kiểm tra nếu người dùng đã đăng nhập -->
                                        <li sec:authorize="isAuthenticated()">
                                            <a th:href="@{/account}">Tài khoản</a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()">
                                            <a th:href="@{/wishlist}">Yêu thích</a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()">
                                            <!-- Liên kết logout -->
                                            <a th:href="@{/logout}"
                                               onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                                Đăng xuất
                                            </a>
                                        </li>

                                        <!-- Kiểm tra nếu người dùng chưa đăng nhập -->
                                        <li sec:authorize="!isAuthenticated()">
                                            <a th:href="@{/login}">Đăng nhập</a>
                                        </li>
                                        <li sec:authorize="!isAuthenticated()">
                                            <a th:href="@{/register}">Đăng ký</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- Form logout ẩn -->
                        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        </form>

                        <!-- mini-cart -->
                        <div class="mini-cart-icon">
                            <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                                <i class="icon-shopping-cart"></i>
                                <sup th:text="${totalCartItems}">0</sup>
                            </a>
                        </div>

                        <!-- mini-cart -->
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                          id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                          id="bottom"
                                          transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title"
                      style="font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 18px">
                    Giỏ hàng của bạn</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                <ul class="mini-cart-item clearfix">
                    <p>Hiện tại bạn chưa có sản phẩm nào trong giỏ hàng!</p>
                </ul>
            </div>
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5 style="font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 500;">Tổng cộng: <span id="cartTotalPrice">0 VNĐ</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="" th:href="@{/wishlist}"
                       class="theme-btn-2 btn btn-effect-1"
                       style="font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 700; font-size: 13px">
                        Yêu thích</a>
                    <a href="#" th:href="@{/cart/checkout}"
                       class="theme-btn-1 btn btn-effect-2" id="checkoutBtn"
                       style="font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-weight: 700; font-size: 13px">
                        Thanh toán</a>
                </div>
                <p></p>
            </div>
        </div>
    </div>
    <!-- Utilize Cart Menu End -->


    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a th:href="@{/index}">
                        <img th:src="@{/web/img/logoff1.png}" alt="Logo">
                    </a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu-search-form">
                <form th:action="@{/shop}" method="get">
                    <input type="text" name="keyword" placeholder="Search here...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/shop}">Shop</a></li>
                    <li><a th:href="@{/wishlist}">Wishlist</a></li>
                    <li><a th:href="@{/cart/checkout}">Checkout</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->


</div>
</body>

</html>
