<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FreshFood - Organic Food</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" th:href="@{/web/img/favicon.png}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" th:href="@{/web/css/font-icons.css}">
    <!-- plugins css -->
    <link rel="stylesheet" th:href="@{/web/css/plugins.css}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <link rel="stylesheet" th:href="@{/web/css/stylechatbot.css}">

    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/web/css/responsive.css}">
</head>

<body>

<div class="body-wrapper">

    <!-- HEADER AREA START -->
    <div th:replace="~{web/header :: header}"></div>
    <div class="ltn__utilize-overlay"></div>
    <!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-3-normal bg-image" th:attr="data-bg=@{/web/img/slider/banner2.png}">
                <div class="ltn__slide-item-inner  text-right text-end">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title ltn__secondary-color animated">// TALENTED ENGINEER & MECHANICS</h6>
                                        <h1 class="slide-title animated ">Tasty & Healthy <br>  Organic Food</h1>
                                        <div class="slide-brief animated">
                                            <p>"Thực phẩm không chỉ là thứ bạn ăn, mà là nền tảng sức khỏe và hạnh phúc của cả gia đình.
                                                Vì vậy, chúng tôi nỗ lực mang đến những thực phẩm sạch, an toàn, được chăm chút kỹ lưỡng với quy trình khép kín, từ vùng đất canh tác tự nhiên đến tay người tiêu dùng.
                                                Giao hàng tận nơi, tiện lợi, nhanh chóng, cùng cam kết bảo vệ môi trường, mỗi sản phẩm là minh chứng cho sứ mệnh nâng cao chất lượng cuộc sống của chúng tôi."
                                            </p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a th:href="@{/shop}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Explore Products</a>
                                            <a th:href="@{/shop}" class="btn btn-transparent btn-effect-3">LEARN MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="slide-item-img slide-img-left">
                                    <img src="img/slider/22.png" alt="#">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-3-normal bg-image"
                 th:attr="data-bg=@{/web/img/slider/banner1.png}">
                <div class="ltn__slide-item-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <div class="slide-video mb-50 d-none">
                                            <a class="ltn__video-icon-2 ltn__video-icon-2-border"
                                               href="https://www.youtube.com/embed/ATI7vfCgwXE?autoplay=1&showinfo=0"
                                               data-rel="lightcase:myCollection">
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                        <h6 class="slide-sub-title animated">
                                            <img src="web/img/icons/icon-img/1.png" alt="#"> 100% genuine Products
                                        </h6>
                                        <h1 class="slide-title animated">Our Garden's Most <br> Favorite Food</h1>
                                        <div class="slide-brief animated">
                                            <p>"Tại đây, mỗi sản phẩm không chỉ là thực phẩm sạch mà còn là sự an tâm được gửi trao tận tay bạn. Chúng tôi cam kết chỉ cung cấp những sản phẩm rõ ràng nguồn gốc, được nuôi trồng tự nhiên, không hóa chất độc hại, giúp bạn và gia đình tận hưởng từng bữa ăn lành mạnh, trọn vẹn dinh dưỡng. Với quy trình kiểm định nghiêm ngặt từ nông trại đến bàn ăn, chúng tôi không chỉ đem lại hương vị tươi ngon mà còn đảm bảo sức khỏe bền vững cho từng khách hàng."


                                            </p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a th:href="@{/shop}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Explore Products</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- SLIDER AREA END -->
    <!-- BANNER AREA START

    <div class="ltn__banner-area mt-120 mb-90">
        <div class="container">
            <div class="row ltn__custom-gutter--- justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="ltn__banner-item">
                        <div class="ltn__banner-img">
                            <a href="shop.html"><img src="web/img/banner/13.png" alt="Banner Image"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ltn__banner-item">
                                <div class="ltn__banner-img">
                                    <a href="shop.html"><img src="web/img/banner/14.png" alt="Banner Image"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ltn__banner-item">
                                <div class="ltn__banner-img">
                                    <a href="shop.html"><img src="web/img/banner/15.png" alt="Banner Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- BANNER AREA END -->

    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area mt-100 mt--65 d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border section-bg-6">
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="img/icons/svg/8-trolley.svg" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Free shipping</h4>
                                <p>On all orders over $49.00</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="img/icons/svg/9-money.svg" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>15 days returns</h4>
                                <p>Moneyback guarantee</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="img/icons/svg/10-credit-card.svg" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Secure checkout</h4>
                                <p>Protected by ZaloPay</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="img/icons/svg/11-gift-card.svg" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Offer & gift here</h4>
                                <p>On all orders over</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120 pb-120 d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="img/others/6.png" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">Know More About Shop</h6>
                            <h1 class="section-title">Trusted Organic <br class="d-none d-md-block">  Food  Store</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                        <p>sellers who aspire to be good, do good, and spread goodness. We
                                democratic, self-sustaining, two-sided marketplace which thrives
                                on trust and is built on community and quality content.</p>
                        <div class="about-author-info d-flex">
                            <div class="author-name-designation  align-self-center mr-30">
                                <h4 class="mb-0">Jerry Henson</h4>
                                <small>/ Shop Director</small>
                            </div>
                            <div class="author-sign  align-self-center">
                                <img src="img/icons/icon-img/author-sign.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- PRODUCT-MENU AREA START (product-item-3) -->
    <div class="ltn__product-tab-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Our Products</h1>
                    </div>

                    <!-- Tab Menu for Categories -->
                    <div class="ltn__tab-menu ltn__tab-menu-2 ltn__tab-menu-top-right-- text-uppercase text-center">
                        <div class="nav">
                            <!-- Loop through categories to create each tab link -->
                            <th:block th:each="category : ${categories}">
                                <a th:classappend="${category.categoryId == categories[0].categoryId} ? 'active show' : ''"
                                   th:data-bs-toggle="tab" th:href="'#liton_tab_' + ${category.categoryId}">
                                    <span th:text="${category.categoryName}">Category Name</span>
                                </a>
                            </th:block>
                        </div>
                    </div>

                    <!-- Tab Content for Products -->
                    <div class="tab-content">
                        <!-- Loop through categories to create each tab pane -->
                        <th:block th:each="category : ${categories}">
                            <div th:id="'liton_tab_' + ${category.categoryId}"
                                 th:classappend="${category.categoryId == categories[0].categoryId} ? 'tab-pane fade active show' : 'tab-pane fade'">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                        <!-- Loop to display products in the current category -->
                                        <th:block th:each="product : ${category.products}">
                                            <div class="col-lg-12">
                                                <div class="ltn__product-item ltn__product-item-3 text-center">
                                                    <div class="product-img">
                                                        <a th:href="@{/product-details/{id}(id=${product.productId})}">
                                                            <img th:src="@{'/uploads/main/' + ${product.productImage}}" alt="Product Image">
                                                        </a>
                                                        <div class="product-badge">
                                                            <ul>
                                                                <li th:if="${product.status == false}" style="background-color: #ff8585;">
                                                                    <span>Out of Stock</span>
                                                                </li>
                                                                <li th:if="${product.status == true && product.discount > 0}" class="sale-badge">
                                                                    <span>Discount: <span th:text="${product.discount} + '%'"></span></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- Product Hover Action -->
                                                        <div class="product-hover-action">
                                                            <ul>
                                                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#quick_view_modal"><i class="far fa-eye"></i></a></li>
                                                                <li th:if="${product.status == true}">
                                                                    <a href="javascript:void(0);" title="Thêm vào giỏ" class="product-add1" th:data-product-id="${product.productId}">
                                                                        <i class="fas fa-shopping-cart"></i>
                                                                    </a>
                                                                </li>
                                                                <li th:if="${product.status == true}">
                                                                    <a href="javascript:void(0);"
                                                                       class="add-to-wishlist1"
                                                                       th:data-product-id="${product.productId}"
                                                                       th:data-product-name="${product.productName}"
                                                                       th:src="@{/uploads/main/{filename}(filename=${product.productImage})}"
                                                                       title="Add to Wishlist">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-ratting">
                                                            <ul>
                                                                <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                                    <a href="#">
                                                                        <i th:class="${#maps.containsKey(averageRatings, product.productId) ?
                                                                         (i <= T(java.lang.Math).floor(averageRatings[product.productId]) ? 'fas fa-star' :
                                                                         (i - 0.5 <= averageRatings[product.productId] && averageRatings[product.productId] < i ? 'fas fa-star-half-alt' : 'far fa-star'))
                                                                           : 'far fa-star'}"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="product-title">
                                                            <a th:href="@{/product-details/{id}(id=${product.productId})}"
                                                               th:text="${product.productName}">Product Name</a>
                                                        </h2>
                                                        <div class="product-price">
                                                            <span th:attr="data-order=${product.price}"
                                                                  th:text="${#numbers.formatDecimal(product.price, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></span>
                                                            <del th:if="${product.discount > 0}"
                                                                 th:text="${#numbers.formatDecimal(product.price + (product.price * product.discount / 100), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">
                                                            </del>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- COUNTDOWN AREA START -->
    <div class="ltn__call-to-action-area ltn__call-to-action-4 section-bg-1 pt-110 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="web/img/banner/banner10.png" alt="#">
                </div>
                <div class="col-lg-7">
                    <div class="call-to-action-inner call-to-action-inner-4 text-color-white--- text-center---">
                        <div class="section-title-area ltn__section-title-2 text-center---">
                            <h6 class="ltn__secondary-color">Todays Hot Deals</h6>
                            <h1 class="section-title">FRESH FRUIT
                                <br>NEW ARRIVAL
                            </h1>
                        </div>
                        <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2025/12/31"></div>
                        <div class="btn-wrapper animated">
                            <a th:href="@{/shop}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTDOWN AREA END -->

    <!-- MƠI NHAT PRODUCT AREA START (product-item-3) -->
    <div class="ltn__product-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Newest Products</h1>
                    </div>
                </div>
            </div>
            <div id="new-products" class="new-products">
                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                    <th:block th:each="product : ${newestProducts}">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                            <div class="ltn__product-item ltn__product-item-3 text-center">
                                <div class="product-img">
                                    <a th:href="@{/product-details/{id}(id=${product.productId})}">
                                        <img th:src="@{'/uploads/main/' + ${product.productImage}}" alt="Product Image">
                                    </a>
                                    <!-- Hiển thị huy hiệu "New" mà không cần điều kiện -->
                                    <div class="product-badge">
                                        <ul>
                                            <li class="sale-badge">New</li>
                                        </ul>
                                    </div>
                                    <!-- Hành động khi hover lên sản phẩm -->
                                    <div class="product-hover-action">
                                        <ul>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#quick_view_modal"><i class="far fa-eye"></i></a></li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);" title="Thêm vào giỏ" class="product-add1" th:data-product-id="${product.productId}">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);"
                                                   class="add-to-wishlist1"
                                                   th:data-product-id="${product.productId}"
                                                   th:data-product-name="${product.productName}"
                                                   th:src="@{/uploads/main/{filename}(filename=${product.productImage})}"
                                                   title="Add to Wishlist">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-ratting">
                                        <ul>
                                            <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                <a href="#">
                                                    <i th:class="${#maps.containsKey(averageRatings, product.productId) ?
                                                                         (i <= T(java.lang.Math).floor(averageRatings[product.productId]) ? 'fas fa-star' :
                                                                         (i - 0.5 <= averageRatings[product.productId] && averageRatings[product.productId] < i ? 'fas fa-star-half-alt' : 'far fa-star'))
                                                                           : 'far fa-star'}"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="product-title">
                                        <a th:href="@{/product-details/{id}(id=${product.productId})}" th:text="${product.productName}">Product Name</a>
                                    </h2>
                                    <div class="product-price">
                                        <span th:attr="data-order=${product.price}"
                                              th:text="(${#numbers.formatDecimal(product.price, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </span>
                                        <del th:if="${product.discount > 0}"
                                             th:text="(${#numbers.formatDecimal(product.price + (product.price * product.discount / 100), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!-- MƠI NHAT PRODUCT AREA START (product-item-3) -->
    <!-- COUNTER UP AREA START -->
    <div class="ltn__counterup-area bg-image bg-overlay-theme-black-80 pt-115 pb-70" data-bg="img/bg/5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img th:src="@{/web/img/icons/icon-img/2.png}" alt="#"> </div>
                        <h1><span class="counter">733</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Active Clients</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img th:src="@{/web/img/icons/icon-img/3.png}" alt="#"> </div>
                        <h1><span class="counter">33</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Products</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img th:src="@{/web/img/icons/icon-img/4.png}" alt="#"> </div>
                        <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Get Rewards</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img th:src="@{/web/img/icons/icon-img/5.png}" alt="#"> </div>
                        <h1><span class="counter">21</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Country Cover</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTER UP AREA END -->
    <!-- TOP SELLING-->
    <div class="ltn__product-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Top Selling Products</h1>
                    </div>
                </div>
            </div>
            <div id="top-selling-products" class="top-selling-products">
                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                    <th:block th:each="product : ${topSellingProducts}">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                            <div class="ltn__product-item ltn__product-item-3 text-center">
                                <div class="product-img">
                                    <a th:href="@{/product-details/{id}(id=${product.productId})}">
                                        <img th:src="@{'/uploads/main/' + ${product.productImage}}" alt="Product Image">
                                    </a>
                                    <div class="product-badge">
                                        <ul>
                                            <li class="sale-badge">Best Seller</li>
                                        </ul>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#quick_view_modal"><i class="far fa-eye"></i></a></li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);" title="Add to Cart" class="product-add1" th:data-product-id="${product.productId}">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);" class="add-to-wishlist1" th:data-product-id="${product.productId}" th:data-product-name="${product.productName}" th:src="@{'/uploads/main/' + ${product.productImage}}" title="Add to Wishlist">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-ratting">
                                        <ul>
                                            <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                <a href="#">
                                                    <i th:class="${#maps.containsKey(averageRatings, product.productId) ?
                                                                         (i <= T(java.lang.Math).floor(averageRatings[product.productId]) ? 'fas fa-star' :
                                                                         (i - 0.5 <= averageRatings[product.productId] && averageRatings[product.productId] < i ? 'fas fa-star-half-alt' : 'far fa-star'))
                                                                           : 'far fa-star'}"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="product-title">
                                        <a th:href="@{/product-details/{id}(id=${product.productId})}" th:text="${product.productName}">Product Name</a>
                                    </h2>
                                    <div class="product-price">
                                        <span th:attr="data-order=${product.price}"
                                              th:text="(${#numbers.formatDecimal(product.price, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </span>
                                        <del th:if="${product.discount > 0}"
                                             th:text="(${#numbers.formatDecimal(product.price + (product.price * product.discount / 100), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </del>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!-- PRODUCT TAB AREA START for season-products -->
    <div class="ltn__product-tab-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Seasonal Products</h1>
                    </div>
                </div>
            </div>
            <div id="season-products" class="season-products">
                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                    <th:block th:each="product : ${seasonProducts}">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                            <div class="ltn__product-item ltn__product-item-3 text-center">
                                <div class="product-img">
                                    <a th:href="@{/product-details/{id}(id=${product.productId})}">
                                        <img th:src="@{'/uploads/main/' + ${product.productImage}}" alt="Product Image">
                                    </a>
                                    <div class="product-badge">
                                        <ul>
                                            <li th:if="${product.status == false}" style="background-color: #ff8585;">
                                                <span>Out of Stock</span>
                                            </li>
                                            <li th:if="${product.status == true && product.discount > 0}" class="sale-badge">
                                                <span>Discount: <span th:text="${product.discount} + '%'"></span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul>
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#quick_view_modal"><i class="far fa-eye"></i></a></li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);" title="Thêm vào giỏ" class="product-add1" th:data-product-id="${product.productId}">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li th:if="${product.status == true}">
                                                <a href="javascript:void(0);"
                                                   class="add-to-wishlist1"
                                                   th:data-product-id="${product.productId}"
                                                   th:data-product-name="${product.productName}"
                                                   th:src="@{'/uploads/main/' + ${product.productImage}}"
                                                   title="Add to Wishlist">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-ratting">
                                        <ul>
                                            <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                <a href="#">
                                                    <i th:class="${#maps.containsKey(averageRatings, product.productId) ?
                                                    (i <= T(java.lang.Math).floor(averageRatings[product.productId]) ? 'fas fa-star' :
                                                    (i - 0.5 <= averageRatings[product.productId] && averageRatings[product.productId] < i ? 'fas fa-star-half-alt' : 'far fa-star'))
                                                    : 'far fa-star'}"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="product-title">
                                        <a th:href="@{/product-details/{id}(id=${product.productId})}"
                                           th:text="${product.productName}">Product Name</a>
                                    </h2>
                                    <div class="product-price">
                                        <span th:attr="data-order=${product.price}"
                                              th:text="(${#numbers.formatDecimal(product.price, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </span>
                                        <del th:if="${product.discount > 0}"
                                             th:text="(${#numbers.formatDecimal(product.price + (product.price * product.discount / 100), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ')">
                                        </del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT TAB AREA END for season-products -->


    <!-- BLOG AREA START (blog-3) -->
    <div class="ltn__blog-area pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">Leatest Blog</h1>
                    </div>
                </div>
            </div>
            <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                <!-- Blog Item -->
                <div class="col-lg-12" th:each="blog : ${blogs}">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <a th:href="@{'/news/' + ${blog.slug}}">
                                <img th:src="@{${blog.imageUrl}}" alt="Blog Image">
                            </a>
                        </div>
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>by: <span th:text="${blog.author}">Admin</span></a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title">
                                <a th:href="@{'/news/' + ${blog.slug}}" th:text="${blog.title}">Blog Title</a>
                            </h3>
                            <div class="ltn__blog-meta-btn">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date">
                                            <i class="far fa-calendar-alt"></i>
                                            <span th:text="${#temporals.format(blog.createdAt, 'dd MMM yyyy')}">01 Jan 2025</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ltn__blog-btn">
                                    <a th:href="@{'/news/' + ${blog.slug}}">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOG AREA END -->
    <!-- FEATURE AREA END -->

    <div th:replace="~{web/chatbot :: chatbot}"></div>

    <div th:replace="~{web/footer :: footer}"></div>

    <!-- MODAL AREA START (Quick View Modal) -->
    <div class="ltn__modal-area ltn__quick-view-modal-area">
        <div class="modal fade" id="quick_view_modal" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <!-- <i class="fas fa-times"></i> -->
                        </button>
                    </div>
                    <div class="modal-body">
                         <div class="ltn__quick-view-modal-inner">
                             <div class="modal-product-item">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="modal-product-img">
                                            <img src="img/product/4.png" alt="#">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="modal-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                                </ul>
                                            </div>
                                            <h3>Vegetables Juices</h3>
                                            <div class="product-price">
                                                <span>$149.00</span>
                                                <del>$165.00</del>
                                            </div>
                                            <div class="modal-product-meta ltn__product-details-menu-1">
                                                <ul>
                                                    <li>
                                                        <strong>Categories:</strong>
                                                        <span>
                                                            <a href="#">Parts</a>
                                                            <a href="#">Car</a>
                                                            <a href="#">Seat</a>
                                                            <a href="#">Cover</a>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ltn__product-details-menu-2">
                                                <ul>
                                                    <li>
                                                        <div class="cart-plus-minus">
                                                            <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="theme-btn-1 btn btn-effect-1" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                            <i class="fas fa-shopping-cart"></i>
                                                            <span>ADD TO CART</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ltn__product-details-menu-3">
                                                <ul>
                                                    <li>
                                                        <a href="#" class="" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                            <i class="far fa-heart"></i>
                                                            <span>Add to Wishlist</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="" title="Compare" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                            <i class="fas fa-exchange-alt"></i>
                                                            <span>Compare</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <hr>
                                            <div class="ltn__social-media">
                                                <ul>
                                                    <li>Share:</li>
                                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL AREA END -->
    <!-- MODAL AREA START (Add To Cart Modal) -->
    <div class="ltn__modal-area ltn__add-to-cart-modal-area">
        <div class="modal fade" id="add_to_cart_modal" tabindex="-1">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ltn__quick-view-modal-inner">
                            <div class="modal-product-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-product-img">
                                            <img src="img/product/default.png" alt="Product Image">
                                        </div>
                                        <div class="modal-product-info">
                                            <h5><a href="javascript:void(0);">Product Name</a></h5>
                                            <p class="added-cart"><i class="fa fa-check-circle"></i> Successfully added to your Cart</p>
                                            <div class="product-price">$0.00</div>
                                            <div class="btn-wrapper">
                                                <a href="checkout.html" class="theme-btn-2 btn btn-effect-2">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL AREA END -->
    <!-- MODAL AREA START (Wishlist Modal) -->
    <div class="ltn__modal-area ltn__add-to-cart-modal-area">
        <div class="modal fade" id="liton_wishlist_modal" tabindex="-1">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ltn__quick-view-modal-inner">
                            <div class="modal-product-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-product-img">
                                            <img id="modal-product-img" src="" alt="#">
                                        </div>
                                        <div class="modal-product-info">
                                            <h5><a id="modal-product-name" href="#"></a></h5>
                                            <p class="added-cart">
                                                <i class="fa fa-check-circle"></i>
                                                Successfully added to your Wishlist
                                            </p>
                                            <div class="btn-wrapper">
                                                <a th:href="@{/wishlist}" class="theme-btn-1 btn btn-effect-1">View Wishlist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL AREA END -->







</div>
<!-- Body main wrapper end -->
    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>


    <script th:src="@{/web/js/plugins.js}"></script>
    <script th:src="@{/web/js/main.js}"></script>
    <script th:src="@{/web/js/newmain.js}"></script>
    <script th:src="@{/web/js/favorite.js}"></script>
<script>


</script>

</body>
</html>

