<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FreshFood - Organic Food</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/web/img/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/web/css/font-icons.css}">
    <link rel="stylesheet" th:href="@{/web/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <link rel="stylesheet" th:href="@{/web/css/responsive.css}">
    <style>
        .ltn__pagination a.active {
            background-color: #8BB436;
            color: white;
            font-weight: bold;
        }

        .ltn__pagination a:hover {
            background-color: #8BB436;
            color: white;
        }

    </style>
</head>

<body>

<div class="body-wrapper">

    <!-- HEADER AREA START -->
    <div th:replace="~{web/header :: header}"></div>
    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner text-center">
                        <h6 class="section-subtitle ltn__secondary-color">// Welcome to our store</h6>
                        <h1 class="section-title white-color">All Products</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- SHOP AREA START -->
    <div class="ltn__product-area ltn__product-gutter">
        <div class="container">
            <div class="row">
                <!-- Sidebar Widgets -->
                <div class="col-lg-3">
                    <!-- Search Widget -->
                    <div class="widget ltn__search-widget">
                        <h4 class="ltn__widget-title">Search Products</h4>
                        <form th:action="@{/shop}" method="get">
                            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search here...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>


                    <!-- Category Widget -->
                    <div class="widget ltn__menu-widget">
                        <h4 class="ltn__widget-title">Product Categories</h4>
                        <ul>
                            <li th:each="category : ${categories}">
                                <a th:href="@{/shop(categoryId=${category.categoryId})}" th:text="${category.categoryName}"></a>
                            </li>
                        </ul>
                    </div>


                    <!-- Price Filter Widget -->
                    <div class="widget">
                        <h4>Filter by Price</h4>
                        <form th:action="@{/shop}" method="get">
                            <div class="price_filter">
                                <div class="price_slider_amount">
                                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                    <button type="submit">Filter</button>
                                    <!-- Hidden inputs để gửi dữ liệu minPrice và maxPrice -->
                                    <input type="hidden" id="minPriceInput" name="minPrice" th:value="${minPrice}">
                                    <input type="hidden" id="maxPriceInput" name="maxPrice" th:value="${maxPrice}">
                                </div>
                                <div id="slider-range"></div>
                            </div>
                        </form>
                    </div>


                </div>

                <!-- Product List -->
                <div class="col-lg-9">
                    <div class="ltn__shop-options">
                        <ul>
                            <li>
                                <div class="ltn__grid-list-tab-menu">
                                    <div class="nav">
                                        <a class="active" data-bs-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="short-by text-center">
                                    <select class="nice-select">
                                        <option>Default sorting</option>
                                        <option>Sort by popularity</option>
                                        <option>Sort by price: low to high</option>
                                        <option>Sort by price: high to low</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Product Grid -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="liton_product_grid">
                            <div class="row">
                                <!-- Kiểm tra nếu danh sách sản phẩm trống -->
                                <div th:if="${#lists.isEmpty(products)}" class="col-12 text-center">
                                    <p>Không có sản phẩm phù hợp</p>
                                </div>
                                <!-- Hiển thị các sản phẩm nếu có -->
                                <div th:each="product : ${products}" class="col-xl-4 col-sm-6 col-6">
                                    <div class="ltn__product-item ltn__product-item-3 text-center">
                                        <div class="product-img">
                                            <a th:href="@{/product-details/{id}(id=${product.productId})}">
                                                <img th:src="@{'/uploads/main/' + ${product.productImage}}" alt="Product Image">
                                            </a>
                                            <div class="product-badge">
                                                <ul>
                                                    <li th:if="${!product.status}" style="background-color: #ff8585;">
                                                        <span>Out of Stock</span>
                                                    </li>
                                                    <li th:if="${product.discount > 0}" class="sale-badge">
                                                        <span th:text="'Discount: ' + ${product.discount} + '%'"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product-hover-action">
                                                <ul>
                                                    <li><a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal"><i class="far fa-eye"></i></a></li>
                                                    <li th:if="${product.status}">
                                                        <a href="#" class="product-add1" th:data-product-id="${product.productId}" title="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                                                    </li>
                                                    <li th:if="${product.status == true}">
                                                        <a href="javascript:void(0);"
                                                           class="add-to-wishlist1"
                                                           th:data-product-id="${product.productId}"
                                                           th:data-product-name="${product.productName}"
                                                           th:src="@{/uploads/main/{filename}(filename=${product.productImage})}"
                                                           title="Add to Wishlist">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <a href="#">
                                                            <i th:class="${#maps.containsKey(averageRatings, product.productId) ?
                                                                         (i <= T(java.lang.Math).floor(averageRatings[product.productId]) ? 'fas fa-star' :
                                                                         (i - 0.5 <= averageRatings[product.productId] && averageRatings[product.productId] < i ? 'fas fa-star-half-alt' : 'far fa-star'))
                                                                           : 'far fa-star'}"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title">
                                                <a th:href="@{/product-details/{id}(id=${product.productId})}" th:text="${product.productName}">Product Name</a>
                                            </h2>
                                            <div class="product-price">
                                                <span class="js-price"
                                                      th:attr="data-price=${product.price}">
                                                      [[${product.price}]]
                                                </span>
                                                <del class="js-original-price"
                                                     th:if="${product.discount > 0}"
                                                     th:attr="data-price=${product.price + (product.price * product.discount / 100)}">
                                                    [[${product.price + (product.price * product.discount / 100)}]]
                                                </del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div th:if="${!#lists.isEmpty(products)}" class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>
                                <!-- Nút Trái -->
                                <li>
                                    <a href="#" th:href="@{/shop(page=${currentPage - 1})}" th:class="${currentPage == 1 ? 'disabled' : ''}">
                                        <i class="fas fa-angle-double-left"></i>
                                    </a>
                                </li>

                                <!-- Các trang số -->
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a th:href="@{/shop(page=${i}, categoryId=${categoryId}, minPrice=${minPrice}, maxPrice=${maxPrice})}"
                                       th:text="${i}"
                                       th:class="${i == currentPage ? 'active' : ''}">
                                    </a>
                                </li>


                                <!-- Nút Phải -->
                                <li>
                                    <a href="#" th:href="@{/shop(page=${currentPage + 1})}" th:class="${currentPage == totalPages ? 'disabled' : ''}">
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL AREA START (Wishlist Modal) -->
    <div class="ltn__modal-area ltn__add-to-cart-modal-area">
        <div class="modal fade" id="liton_wishlist_modal" tabindex="-1">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ltn__quick-view-modal-inner">
                            <div class="modal-product-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-product-img">
                                            <img id="modal-product-img" src="" alt="#">
                                        </div>
                                        <div class="modal-product-info">
                                            <h5><a id="modal-product-name" href="#"></a></h5>
                                            <p class="added-cart">
                                                <i class="fa fa-check-circle"></i>
                                                Successfully added to your Wishlist
                                            </p>
                                            <div class="btn-wrapper">
                                                <a th:href="@{/wishlist}" class="theme-btn-1 btn btn-effect-1">View Wishlist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP AREA END -->
    <div style="height: 75px;"></div>

    <!-- FOOTER AREA START -->
    <div th:replace="~{web/footer :: footer}"></div>

</div>

<script th:src="@{/web/js/plugins.js}"></script>
<script th:src="@{/web/js/main.js}"></script>
<script th:src="@{/web/js/newmain.js}"></script>
<script th:src="@{/web/js/favorite.js}"></script>
<script th:inline="javascript">
    let minPrice = [[${minPrice}]];
    let maxPrice = [[${maxPrice}]];


    $("#slider-range").slider({
        range: true,
        min: 0,
        max: 1000000,
        values: [minPrice, maxPrice],
        slide: function (event, ui) {
            let scaledMin = scalePrice(ui.values[0]);
            let scaledMax = scalePrice(ui.values[1]);

            $("#amount").val(formatCurrency(scaledMin) + " - " + formatCurrency(scaledMax));
            $("#minPriceInput").val(ui.values[0]);
            $("#maxPriceInput").val(ui.values[1]);
        },
        change: function (event, ui) {
            let value = ui.values[0];

            let step;
            if (value <= 100000) {
                step = 5000;
            }
            else if (value <= 500000) {
                step = 20000;
            }
            else {
                step = 50000;
            }

            $(this).slider("option", "step", step);
        }
    });

    function formatCurrency(value) {
        return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }

    function scalePrice(value) {
        if (value <= 500000) {
            return (value / 500000) * 100000;
        } else {
            return ((value - 500000) / 500000) * 900000 + 100000;
        }
    }

    $("#amount").val(formatCurrency(scalePrice(minPrice)) + " - " + formatCurrency(scalePrice(maxPrice)));
    $("#minPriceInput").val(minPrice);
    $("#maxPriceInput").val(maxPrice);
</script>

</body>
</html>
